<div class="container">
  <h1>Enter information for new game.</h1>
    <form method="POST" action="/">
      <input placeholder="username" name:"game[user_id]">
      <input placeholder="deck" name:"game[deck]">
      <input type="submit">
    </form>
</div>
 <!-- Maybe don't even need this page -->
