<div class="container">
  <h1>Congratulations, <%= @user.username %>!</h1>
<!--     Need to fix this so that it shows the deck that was just completed -->
    <h2>You've completed <%= @game.deck.title %></h2>

</div>
