<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>

<div class="decks_container">
<input type="hidden" name="user_id" value="<%= session[:user_id] %>">
  <p>Welcome, <%= User.find(session[:user_id]).username %>. <button type="submit"><a href="/users">Log Out</a></button></p>
  <hr>
  <h1>Choose Your Destiny</h1>

  <% @decks.each do |deck| %>
  <ul>
    <li><a href="/decks/<%= deck.title %>/cards"><%= deck.title %></a></li>
  </ul>
  <% end %>


</div>
