<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>

<div class="form_container">

  <div class="header">
    <img src="http://t1.rbxcdn.com/08c5b9abc80c5e4a73e029baf2d78d43" />
    <h1>Welcome to SuperSmashCards!</h1>
    <img src="http://t1.rbxcdn.com/08c5b9abc80c5e4a73e029baf2d78d43" />
  </div>

  <p>Login Here:</p>
  <form action="/users" method="POST">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <input type="submit" value="Login">
  </form>

  <br><hr>

    <button type="submit"><a href="/users/signup">New Users</a></button>
</div>
