<div class="container">
  <h1>Welcome to SuperSmashCards</h1>
  <p>Login Here:</p>
  <form action="/users" method="POST">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <input type="submit" value="Login">
  </form>

  <br><hr>

    <a href="/users/signup">New Users</a>
</div>
