<div class="container">
  <h1>Create a new login here dawg.</h1>
  <a href="/">Home</a>
  <p>Put info here:</p>
  <form action="/users/signup" method"POST">
    <input type="text" placeholder="Username" name="user[username]" />
    <input type="password" placeholder="Password" name="user[password]" />
  </form>
    <input type="submit" value="Submit" />
</div>
